<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atletismo_Data_Base_SCRD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Data_Base_SCRD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Atletismo_Data_Base_SCRD.My.MySettings>
            <setting name="Code" serializeAs="String">
                <value>123456789</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </Atletismo_Data_Base_SCRD.My.MySettings>
        <Data_Base_SCRD.My.MySettings>
            <setting name="Code" serializeAs="String">
                <value>123456789</value>
            </setting>
            <setting name="Status" serializeAs="String">
                <value>False</value>
            </setting>
        </Data_Base_SCRD.My.MySettings>
    </userSettings>
</configuration>
